html {
  box-sizing: border-box;
}

/* html,
body {
  min-width: 960px;
} */

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.basic-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.list-marker-switch {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header-top a:hover,
.main-header-top a:focus {
  background-color: #212a3a;
}

.main-header-top a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.main-header {
  margin-bottom: 60px;
  padding-bottom: 60px;
  background-color: #f3f7f9;
}

.main-header-top-wrapper {
  background-color: #293449;
}

.main-header-top {
  display: flex;
  justify-content: space-between;

  color: #ffffff;
  line-height: 18px;
}

.header-top-left {
  display: flex;
}

.header-top-right {
  display: flex;
}

/* .header-logo {
  background-image: url("../img/logo-top.png");
  background-position: center;
}

.header-logo:hover {
  background-image: url("../img/logo-top-hover.png");
  background-position: center;
}

.header-logo:active {
  background-image: url("../img/logo-top-active.png");
  background-position: center;
} */

.main-header-middle {
  display: flex;
  justify-content: space-between;
}

.main-header-middle h1 {
  width: 300px;
}

.main-header-middle h1,
.main-header-middle h2 {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.user-account a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-account a:hover,
.user-account a:focus {
  color: #ee3643;
}

.user-account a:active {
  color: rgba(50, 66, 92, 0.3);
}

a.username {
  color: #000000;
  text-decoration: none;
}

a.username:hover,
a.username:focus {
  color: #000000;
}

a.username:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-contacts {
  width: 300px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-header-contacts .phone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

a.order-button {
  text-transform: none;

  background-color: #63a63e;
}

a.order-button:hover,
a.order-button:focus {
  background-color: #5fbb2d;
}

a.order-button:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.user-authorization {
  width: 300px;
}

.authorization-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.authorization-button:hover,
.authorization-button:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.authorization-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.site-navigation {
  display: flex;

  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.search-field {
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.main-header-top .full-cart {
  background-color: #ee3643;
}

.main-header-top .full-cart:hover,
.main-header-top .full-cart:focus {
  background-color: #ca2c37;
}

.main-header-top .full-cart:active {
  background-color: #ba2732;
}

.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers-item {
  width: 300px;
  min-height: 123px;
}

.offers-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.offers-item-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.offers-item-button:hover,
.offers-item-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials-item {
  background-color: #ffbf47;
}

.instrument-item {
  background-color: #3bbce3;
}

.technique-item {
  background-color: #dc91d8;
}

.sales-item {
  background-color: #8ed78f;
}

.delivery-item {
  background-color: #ffc047;
}

.slider-item {
  display: block;
  width: 620px;
  height: 266px;
}

.slider-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-item-button {
  background-color: #ee3643;
}

.slider-item-drill {
  background-color: #5d5355;
  background-image: url("../img/slider-drill.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.slider-item-puncher {
  display: none;

  background-color: #ccbca5;
  background-image: url("../img/slider-puncher.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.popular-products-header,
.popular-brands-header {
  display: flex;
  justify-content: space-between;

  background-color: #f9f5f0;
}

.popular-products-header .basic-title,
.popular-brands-header .basic-title {
  color: #32425c;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-list-item {
  width: 220px;
}

.catalog-list-item h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-list-item span {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-list-item .last-price {
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-list-item .current-price {
  display: inline-block;
  width: 141px;
  height: 38px;

  text-align: center;
  color: #ffffff;

  background-image: url("../img/price-tag.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list-item .buy-item-button {
  border: none;
  background-color: #63a63e;
}

.catalog-list-item .buy-item-button:hover,
.catalog-list-item .buy-item-button:focus {
  background-color: #5fbb2d;
}

.catalog-list-item .buy-item-button:active {
  background-color: #518534;
}

.catalog-list-item .bookmark-item-button {
  color: #32425c;

  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
}

.catalog-list-item .bookmark-item-button:hover,
.catalog-list-item .bookmark-item-button:focus {
  border-color: #32425c;
}

.catalog-list-item .bookmark-item-button:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
}

.popular-brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands-item {
  width: 220px;
}

.popular-brands-item a {
  display: block;
  width: 219px;
  height: 145px;
  border: 1px solid #eaeaea;

  text-align: center;
}

.popular-brands-item a:hover,
.popular-brands-item a:focus {
  box-shadow: 0px 5px 12.5px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item a:active {
  opacity: 0.3;
}

.service-wrapper {
  background-color: #f4f8f9;
}

.service-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.service-slider {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.service-slider label {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;

  cursor: pointer;
}

.service-slider label:hover {
  background-color: #293449;
}

.service-slider label:active,
.service-slider label:focus {
  color: #32425c;

  background-color: #ffffff;
}

.service-list {
  width: 620px;
}

.service-item {
  display: none;
}

.service-item h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.service-item-delivery {
  background-image: url("../img/service.png");
  background-repeat: no-repeat;
}

.service-item-guarantee {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.service-item-credit {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

#delivery:checked ~ .service-list .service-item-delivery,
#guarantee:checked ~ .service-list .service-item-guarantee,
#credit:checked ~ .service-list .service-item-credit {
  display: block;
}

#delivery:checked ~ .service-slider label[for="delivery"],
#guarantee:checked ~ .service-slider label[for="guarantee"],
#credit:checked ~ .service-slider label[for="credit"] {
  color: #32425c;

  background-color: #ffffff;
}

.company-information {
  display: flex;
  justify-content: space-between;
}

.company-ability {
  width: 540px;
}

.company-contacts {
  width: 300px;
}

.transport-company-list {
  list-style-image: url("../img/red-marker.png");
}

.transport-company-list li {
  font-size: 18px;
  line-height: 20px;
}

.main-footer-top-wrapper {
  background-color: #32425c;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation-bottom a {
  color: #ffd180;
}

.main-footer-navigation {
  display: flex;
  flex-direction: column;
}

.footer-navigation-top {
  display: flex;
}

.footer-navigation-bottom {
  display: flex;
}

.main-footer-navigation a:hover,
.main-footer-navigation a:focus {
  text-decoration: underline;
}

.main-footer-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer-bottom-wrapper {
  background-color: #293449;
}

.main-footer-bottom {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer-copyright {
  width: 300px;
}

.main-footer-email a,
.main-footer-developer a {
  color: #ffd180;
}

.main-footer-email a:hover,
.main-footer-developer a:hover,
.main-footer-email a:focus,
.main-footer-developer a:focus {
  text-decoration: underline;
}

.main-footer-email a:active,
.main-footer-developer a:active {
  color: #ee3643;

  text-decoration: none;
}

.social-link-list {
  display: flex;
  width: 300px;
}

.social-link-item a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-link-vk a {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link-facebook a {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link-instagram a {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link-item a:hover,
.social-link-item a:focus,
.social-link-item a:active {
  background-color: #ee3643;
}

.modal-map {
  display: none;
}

.modal-write-us {
  display: none;
}

.modal-form label {
  font-size: 18px;
  line-height: 18px;
}

.modal-form input[placeholder],
.modal-form textarea[placeholder] {
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-form-button {
  border: none;
}

.close-button {
  display: block;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url("../img/close-button.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  outline: 1px solid blue;
}

.catalog-main-title {
  color: #32425c;

  background-color: #f2f6f8;
}

.catalog-content-container {
  display: flex;
}

.filters {
  width: 220px;
}

.main-filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-range-filter {
  display: block;
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
}

.price-field {
  border: none;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

  background-color: #f7f3ec;
}

.brands-filter,
.power-supply-filter {
  border: none;
}

.brands-filter label,
.power-supply-filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  opacity: 0.3;
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  opacity: 0.4;
}

.submit-button {
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.sorting {
  background-color: #f7f3ec;
}

.sorting-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 1);
  text-decoration-style: solid;
}

.sorting-link-active,
.sorting-link-active:hover,
.sorting-link-active:focus {
  color: #ee3643;
  text-decoration: none;
}

.sorting-toggle {
  display: block;
  width: 11px;
  height: 10px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.sorting-min-toggle {
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-max-toggle {
  background-image: url("../img/icon-down-dir.svg");
}

.sorting-min-toggle:hover,
.sorting-min-toggle:focus {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.sorting-max-toggle:hover,
.sorting-max-toggle:focus {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.sorting-min-toggle.active-toggle {
  background-image: url("../img/icon-up-dir-active.svg");
}

.sorting-max-toggle.active-toggle {
  background-image: url("../img/icon-down-dir-active.svg");
}

.catalog-list-item:hover {
  box-shadow: 0px 5px 12.5px 0 rgba(41, 52, 73, 0.5);
}

.pagination-item a {
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: none;

  color: #ffffff;

  background-color: #ee3643;
}

.puncher-info-wrapper {
  background-color: #f2f6f8;
}

.puncher-info-title {
  color: #32425c;
}

.modal-confirm {
  display: none;
}

.modal-confirm span {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.modal-buttons-block {
  background-color: #f1f1f1;
}

.continue-shopping-button {
  border: 3px solid #ffffff;
  border-radius: 2px;

  color: #000000;

  background-color: #ffffff;
}

.continue-shopping-button:hover,
.continue-shopping-button:focus {
  border-color: #32425c;

  background-color: #ffffff;
}

.continue-shopping-button:active {
  opacity: 0.3;
  background-color: #ffffff;
}
