html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basic-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.basic-text {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.list-marker-switch {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-header-top a:hover,
.main-header-top a:focus {
  background-color: #212a3a;
}

.main-header-top a:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.main-header {
  margin-bottom: 59px;
  padding-bottom: 60px;
  background-color: #f3f7f9;
}

.main-header-catalog {
  margin-bottom: 20px;
}

.main-header-top-wrapper {
  background-color: #293449;
}

.main-header-top {
  display: flex;
  justify-content: space-between;

  color: #ffffff;
  line-height: 18px;
}

.header-top-left {
  display: flex;
}

.header-top-right {
  display: flex;
}

.logo-image img {
  position: absolute;
  z-index: 10;
}

.header-logo {
  position: absolute;
  z-index: 100;

  display: block;
  width: 220px;
  height: 47px;

  background-image: url("../img/logo-top.png");
  background-position: center;
}

.header-logo:hover,
.header-logo:focus {
  background-image: url("../img/logo-top-hover.png");
}

.header-logo:active {
  background-image: url("../img/logo-top-active.png");
}

.header-top-right a {
  display: inline-flex;
  min-width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

a.bookmarks {
  position: relative;
  padding-left: 44px;
}

a.cart {
  position: relative;
  padding-left: 50px;
}

.header-top-right a:not(:last-child)::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 20px;
  height: 20px;

  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
}

a.bookmarks::before {
  background-image: url("../img/icon-bookmark.svg");
}

a.cart::before {
  background-image: url("../img/icon-cart.svg");
}

.header-top-right a:not(:last-child):hover::before,
.header-top-right a:not(:last-child):focus::before {
  opacity: 1;
}

.header-top-right a:not(:last-child):active::before {
  opacity: 0.5;
}

a.bookmarks:active::before {
  background-image: url("../img/icon-bookmark.svg");
  background-position: 48% 50%;
}

.main-header-middle {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 39px;
}

.main-header-middle h1,
.main-header-middle h2 {
  width: 300px;
  margin: 0;
  padding-top: 3px;
  padding-left: 52px;
  padding-right: 20px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
  color: #ee3643;
}

.user-account {
  width: 299px;
}

.user-account a {
  display: inline-block;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-account a:hover,
.user-account a:focus {
  color: #ee3643;
}

.user-account a:active {
  color: rgba(50, 66, 92, 0.3);
}

.account-management {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 46px; 
  margin-bottom: 8px; 

  background-color: #ffffff;
}

.account-exit-icon {
  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.account-exit-icon:hover,
.account-exit-icon:focus {
  background-image: url("../img/icon-logout-hover.svg");
}

.account-exit-icon:active {
  background-image: url("../img/icon-logout.svg");
}

a.username {
  position: relative;

  display: block;
  width: 200px;  
  margin-right: 23px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

a.username::before {
  content: "";

  position: absolute;
  left: -33px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

a.username:hover,
a.username:focus {
  color: #000000;
}

a.username:active {
  color: rgba(0, 0, 0, 0.3);
}

a.username:hover::before,
a.username:focus::before {
  background-image: url("../img/icon-user-hover.svg")
}

a.username:active::before {
  background-image: url("../img/icon-user.svg")
}

.user-account > a:first-of-type {
  position: relative;

  margin-left: 17px;
  margin-right: 28px;
}

.user-account > a:first-of-type::after {
  content: "";

  position: absolute;
  top: 7px;
  right: -19px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

.main-header-contacts {
  width: 300px;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.main-header-contacts span {
  display: inline-block;
}

.main-header-contacts .phone-number {
  position: relative;

  min-width: 270px;
  border: 3px solid #ffffff;
  margin-bottom: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 71px;
  padding-right: 20px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header-contacts .phone-number::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 11px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-header-contacts span:last-child {
  padding-left: 10px;
  padding-right: 10px;
}

.button {
  display: inline-block;
  border-radius: 2px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

a.order-button {
  border-radius: 0;

  font-size: 17px;
  text-transform: none;

  background-color: #63a63e;
}

a.order-button:hover,
a.order-button:focus {
  background-color: #5fbb2d;
}

a.order-button:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.user-authorization {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 300px;
}

.authorization-button {
  display: inline-flex;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  border-radius: 0;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

.authorization-button:hover,
.authorization-button:focus {
  color: #ee3643;

  background-color: #ffffff;
}

.authorization-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffffff;
}

.sign-in-button {
  position: relative;

  min-width: 121px;
  padding-left: 47px;
}

.sign-in-button::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 14px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sign-in-button:hover::before,
.sign-in-button:focus::before {
  background-image: url("../img/icon-login-hover.svg");
}

.sign-up-button {
  min-width: 150px;
  margin-left: 10px;
  padding-left: 24px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  background-color: #32425c;

  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-navigation-item a {
  display: inline-block;
  padding: 20px 30px;
  padding-bottom: 23px;
  padding-left: 31px;

  vertical-align: middle;
}

.site-navigation-item:first-child a {
  padding-left: 51px;
}

.site-navigation-item:last-child a {
  padding-right: 55px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.search-form {
  min-width: 270px;
  margin-left: 220px;
}

.search-field {
  width: 100%;
  padding-top: 12px;
  padding-left: 49px;
  padding-bottom: 12px;
  border: 0;

  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.search-field:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-hover.svg");
}

.search-field:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-focus.svg");
  outline: none;
}

.search-field::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}

.search-field::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}

.search-field:-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}

.search-field:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  text-indent: 0px;   
  transition: text-indent 0.3s ease;
}

.search-field:focus::-webkit-input-placeholder {
  color: #000000;

  text-indent: 500px;   
  transition: text-indent 0.3s ease;
}

.search-field:focus::-moz-placeholder {
  color: #000000;

  text-indent: 500px;   
  transition: text-indent 0.3s ease;
}

.search-field:focus:-moz-placeholder {
  color: #000000;

  text-indent: 500px;   
  transition: text-indent 0.3s ease;
}

.search-field:focus:-ms-input-placeholder {
  color: #000000;

  text-indent: 500px;   
  transition: text-indent 0.3s ease;
}

.main-header-top .full-cart {
  background-color: #ee3643;
}

.main-header-top .full-cart:hover,
.main-header-top .full-cart:focus {
  background-color: #ca2c37;
}

.main-header-top .full-cart:active {
  background-color: #ba2732;
}

.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.offers-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-bottom: 20px;
  padding-top: 21px;
  padding-left: 22px;
}

.offers-item.new-tag:after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: center;
}

.offers-item h3 {
  margin: 0;
  margin-bottom: 12px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.offers-item-button {
  display: inline-block;
  min-width: 135px;
  margin-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  vertical-align: middle;

  background-color: rgba(0, 0, 0, 0.1);
}

.offers-item-button:hover,
.offers-item-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers-item-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials-item {
  background-color: #ffbf47;
  background-image: url("../img/offers-materials.svg");
  background-repeat: no-repeat;
  background-position: 83.3% 54%;
}

.instrument-item {
  background-color: #3bbce3;
  background-image: url("../img/offers-instrument.svg");
  background-repeat: no-repeat;
  background-position: 87.7% 54%;
}

.technique-item {
  background-color: #dc91d8;
  background-image: url("../img/offers-technique.svg");
  background-repeat: no-repeat;
  background-position: 86% 51%;
}

.sales-item {
  background-color: #8ed78f;
  background-image: url("../img/offers-sales.svg");
  background-repeat: no-repeat;
  background-position: 81.5% 51%;
}

.delivery-item {
  background-color: #ffc047;
  background-image: url("../img/offers-delivery.svg");
  background-repeat: no-repeat;
  background-position: 86% 53%;
}

.offers-item-slider {
  position: relative;

  width: 620px;
  height: 266px;
  padding: 0;
}

.offers-item-slider-toggles label {
  position: absolute;
  top: 220px;

  display: block;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;

  background-color: #ffffff;
}

.offers-item-slider-toggles label:first-child {
  left: 295px;
}

.offers-item-slider-toggles label:last-child {
  right: 295px;
}

#puncher-slide:checked ~ .slider-item-puncher,
#drill-slide:checked ~ .slider-item-drill,
#puncher-slide:focus:checked ~ .slider-item-puncher,
#drill-slide:focus:checked ~ .slider-item-drill {
  display: block;
}

#puncher-slide:checked ~ .offers-item-slider-toggles label[for="puncher-slide"],
#drill-slide:checked ~ .offers-item-slider-toggles label[for="drill-slide"],
#puncher-slide:focus:checked ~ .offers-item-slider-toggles label[for="puncher-slide"],
#drill-slide:focus:checked ~ .offers-item-slider-toggles label[for="drill-slide"] {
  border: 2px solid #ffffff;

  background-color: #ee3643;
}

.slider-arrow {
  position: absolute;
  top: 114px;

  width: 22px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.5;
  outline: none;
}

.slider-arrow.slider-arrow-left {
  left: 25px;

  background-image: url("../img/slider-arrow-icon.svg");
}

.slider-arrow.slider-arrow-right {
  right: 20px;

  background-image: url("../img/slider-arrow-icon.svg");

  transform: rotate(180deg);
}

.slider-arrow:hover,
.slider-arrow:focus {
  opacity: 1;
}

.slider-item {
  display: none;

  width: 620px;
  height: 266px;
  padding-top: 23px;
  padding-left: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.slider-item h3 {
  margin-bottom: 2px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider-item span {
  display: block;
  margin-bottom: 121px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-item-button {
  min-width: 195px;
  margin-left: 1px;
  padding: 10px;

  text-align: center;
  vertical-align: middle;

  background-color: #ee3643;
}

.slider-item-drill {
  background-color: #5d5355;
  background-image: url("../img/slider-drill.jpg");
}

.slider-item-puncher {
  background-color: #ccbca5;
  background-image: url("../img/slider-puncher.jpg");
}

.popular-products-header,
.popular-brands-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 20px;

  background-color: #f9f5f0;
}

.popular-products-header .basic-title,
.popular-brands-header .basic-title {
  padding: 30px 4px;
  padding-bottom: 29px;
  color: #32425c;
}

.popular-products-button,
.popular-brands-button {
  min-width: 253px;
  margin-top: -2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 11px;
  padding-bottom: 9px;

  text-align: center;
}

.catalog {
  width: 700px;
  margin-top: 11px;
  margin-bottom: 60px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.catalog-list-item {
  position: relative;

  display: block;
  width: 220px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border: solid 1px rgb(234, 234, 234);

  text-align: center;
}

.catalog-list-item:hover,
.catalog-list-item:focus {
  box-shadow: 0px 5px 12.5px 0 rgba(41, 52, 73, 0.5);
  outline: none;
}

.catalog-list-item.new-tag:after {
  content: "";

  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list-item h3 {
  margin: 0;
  margin-bottom: 5px;
  padding: 6px 19px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-list-item span {
  display: block;
  margin-bottom: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-list-item .last-price {
  margin-left: 4px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-list-item .current-price {
  min-width: 141px;
  min-height: 38px;
  margin-left: 6px;
  padding: 10px 0;

  text-align: center;
  color: #ffffff;

  background-image: url("../img/price-tag.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list-item.no-sale .current-price {
  margin-top: 33px;
}

.catalog-item-buttons {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  flex-direction: column;
  width: 218px;
  height: 158px;
  padding-top: 45px;
  padding-right: 42px;
  padding-bottom: 0;
  padding-left: 41px;

  background-color: #ffffff;
}

.catalog-item-buttons .button {
  display: block;
  min-width: 135px;
  min-height: 38px;
  margin-bottom: 7px;
}

.catalog-list-item:hover .catalog-item-buttons,
.catalog-list-item:focus .catalog-item-buttons,
.catalog-list-item:focus-within .catalog-item-buttons {
  display: flex;
}

.catalog-list-item .buy-item-button {
  border: none;
  background-color: #63a63e;
}

.catalog-list-item .buy-item-button:hover,
.catalog-list-item .buy-item-button:focus {
  background-color: #5fbb2d;
  outline: none;
}

.catalog-list-item .buy-item-button:active {
  background-color: #518534;
  outline: none;
}

.catalog-list-item .bookmark-item-button {
  color: #32425c;

  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
  outline: none;
}

.catalog-list-item .bookmark-item-button:hover,
.catalog-list-item .bookmark-item-button:focus {
  border-color: #32425c;
  outline: none;
}

.catalog-list-item .bookmark-item-button:active {
  color: rgba(50, 66, 92, 0.3);

  border-color: rgba(50, 66, 92, 0.3);
  outline: none;
}

.popular-brands {
  margin-bottom: 65px;
}

.popular-brands-header {
  margin-bottom: 20px;
}

.popular-brands-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popular-brands-item {
  width: 220px;
  margin-bottom: 20px;
}

.popular-brands-item a {
  display: flex;
  width: 219px;
  height: 145px;
  border: 1px solid #eaeaea;

  text-align: center;
}

.popular-brands-item img {
  margin: auto;
}

.popular-brands-item a:hover,
.popular-brands-item a:focus {
  box-shadow: 0px 5px 12.5px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands-item a:active {
  opacity: 0.3;
}

.service-wrapper {
  background-color: #f4f8f9;
}

.service {
  padding: 65px 10px;
  padding-bottom: 22px;
}

.service h2 {
  margin-bottom: 26px;
}

.service > p {
  width: 400px;
  margin-bottom: 67px;
}

.service-content-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.service-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 3px;
}

.service-slider::after {
  content: "";

  position: absolute;
  top: -42px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/slider-shadow.png");
  background-repeat: no-repeat;
  background-position: center;
}

.service-slider label {
  padding: 13px 22px;
  padding-bottom: 18px;
  margin-bottom: 1px;

  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0px 1px 0 0 rgb(41, 52, 73), inset 0px 1px 0 0 rgb(64, 80, 105);

  cursor: pointer;
}

.service-slider label:first-child {
  box-shadow: 0px 1px 0 0 rgb(41, 52, 73);
}

.service-slider label:last-child {
  box-shadow: inset 0px 1px 0 0 rgb(64, 80, 105);
}

.service-slider label:hover,
.service-slider label:focus {
  background-color: #293449;
  box-shadow: 0px 1px 0 0 rgb(41, 52, 73), inset 0px 1px 0 0 rgb(64, 80, 105);
  outline: none;
}

.service-slider label:first-child:hover {
  box-shadow: 0px 1px 0 0 rgb(41, 52, 73);
}

.service-slider label:last-child:hover {
  box-shadow: inset 0px 1px 0 0 rgb(64, 80, 105);
}

.service-slider label:active {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 rgb(255, 255, 255), inset 0px 1px 0 0 rgb(255, 255, 255);
  outline: none;
}

.service-slider label:first-child:active {
  box-shadow: 0px 1px 0 0 rgb(255, 255, 255);
}

.service-slider label:last-child:active {
  box-shadow: inset 0px 1px 0 0 rgb(255, 255, 255);
}

.service-list {
  width: 620px;
}

.service-item {
  display: none;
}

.service-item h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.service-item span {
  display: block;
}

.service-item-delivery {
  padding-bottom: 107px;

  background-image: url("../img/service.png");
  background-repeat: no-repeat;
  background-position: 151px 25px;
}

.service-item-delivery span:first-of-type {
  width: 280px;
}

.service-item-delivery span:last-of-type {
  width: 220px;
}

.service-item-guarantee {
  padding-bottom: 83px;

  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 232px 0;
}

.service-item-guarantee p {
  width: 375px;
}

.service-item-credit {
  padding-bottom: 92px;

  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 155px 0;
}

.service-item-credit p {
  width: 280px;
  padding-bottom: 25px;
}

.credit-request-button {
  min-width: 195px;
  padding-top: 11px;
  padding-bottom: 9px; 

  background-color: #ff5357;

  text-align: center;
}

#delivery:checked ~ .service-list .service-item-delivery,
#guarantee:checked ~ .service-list .service-item-guarantee,
#credit:checked ~ .service-list .service-item-credit {
  display: block;
}

#delivery:checked ~ .service-slider label[for="delivery"],
#guarantee:checked ~ .service-slider label[for="guarantee"],
#credit:checked ~ .service-slider label[for="credit"] {
  color: #32425c;

  background-color: #ffffff;
}

.company-information {
  display: flex;
  justify-content: space-between;
  padding-top: 79px;
  padding-bottom: 87px;
}

.company-information h2 {
  margin-bottom: 26px;
}

.company-ability {
  width: 540px;
  padding-right: 20px;
}

.company-ability p {
  padding-bottom: 22px;
}

.company-ability p:last-of-type {
  padding-right: 90px;
}

.company-ability .button {
  min-width: 220px;
  padding-top: 11px;
  padding-bottom: 9px; 

  text-align: center;
}

.transport-company-list {
  margin-bottom: 17px;
}

.transport-company-list li {
  position: relative;
  padding-left: 36px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 20px;  
}

.transport-company-list li::before {
  content: "";

  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.company-contacts {
  width: 300px;
}

.company-contacts p {
  margin-bottom: 31px;
  padding-right: 90px;  
}

.company-contacts a:first-of-type:hover img,
.company-contacts a:first-of-type:focus img {
  transform: scale(1.05);
}

.company-contacts img {
  padding-bottom: 37px;
}

.company-contacts .button {
  min-width: 300px;
  padding-top: 11px;
  padding-bottom: 9px; 

  text-align: center;
}

.main-footer-address {
  padding: 3px;
}

.main-footer-top-wrapper {
  background-color: #32425c;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;

  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-navigation-bottom a {
  color: #ffd180;
}

.main-footer-navigation {
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-right: 0;
}

.footer-navigation-top {
  display: flex;
  flex-wrap: wrap;
  min-width: 550px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 2px;
}

.footer-navigation-top li:not(:last-child),
.footer-navigation-bottom li:not(:last-child) {
  margin-right: 59px;
}

.footer-navigation-bottom {
  display: flex;
  flex-wrap: wrap;
  min-width: 525px;
  padding-top: 21px;
  padding-bottom: 13px;
  padding-left: 25px;
}

.main-footer-navigation a:hover,
.main-footer-navigation a:focus {
  text-decoration: underline;
}

.main-footer-navigation a:active {
  text-decoration: none;

  opacity: 0.5;
}

.main-footer-bottom-wrapper {
  background-color: #293449;
}

.main-footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 18px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer-copyright {
  width: 300px;
  padding-right: 55px;
}

.main-footer-email a,
.main-footer-developer a {
  color: #ffd180;
}

.main-footer-email a:hover,
.main-footer-developer a:hover,
.main-footer-email a:focus,
.main-footer-developer a:focus {
  text-decoration: underline;
}

.main-footer-email a:active,
.main-footer-developer a:active {
  color: #ee3643;

  text-decoration: none;
}

.social-link-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 14px 71px;
}

.social-link-item {
  display: inline-block;
  padding-right: 5px;
}

.social-link-item a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: #212a3a;
}

.social-link-vk a {
  background-image: url("../img/vk-icon.svg");
  background-size: 26px 15px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link-facebook a {
  background-image: url("../img/fb-icon.svg");
  background-size: 12px 22px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link-instagram a {
  background-image: url("../img/insta-icon.svg");
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-link-item a:hover,
.social-link-item a:focus,
.social-link-item a:active {
  background-color: #ee3643;
}

.developer-links {
  display: flex;
  width: 300px;
}

.developer-links p {
  display: inline-block;
}

.main-footer-email {
  margin-right: 50px;
}

.modal {
  position: absolute;

  display: block;
}

.close-button {
  display: block;
  width: 21px;
  height: 21px;
  border: none;

  background-color: transparent;
  background-image: url("../img/close-button.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  cursor: pointer;
}

.modal-map {
  top: 2333px;
  left: 50%;

  display: none;
  width: 970px;
  height: 467px;
  margin-left: -485px;
}

.map-close-button {
  position: absolute;

  top: 24px;
  right: 24px;
}

.modal-write-us {
  top: 2520px;
  left: 50%;
  z-index: 5;

  display: none;
  width: 620px;
  height: 430px;
  padding: 47px 80px;  
  padding-bottom: 0;
  margin-left: -310px;
  border-top: 7px solid #ff5257;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close-button {
  position: absolute;

  top: 9px;
  right: 9px;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-form p {
  margin: 0;
}

.modal-form label {
  display: block;
  width: 220px;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 18px;
}

.modal-form textarea,
.modal-form input[type="text"] {
  padding: 8px 14px;
  padding-top: 7px;
  margin-bottom: 21px;
  border: 2px solid #dee3e4;
  border-radius: 2px;

  color: #000000;
}

.modal-form input[type="text"] {
  width: 220px;
}

.modal-form textarea {
  width: 100%;
  min-height: 114px;
  margin-bottom: 74px;
}

.modal-form textarea:hover,
.modal-form input[type="text"]:hover,
.modal-form textarea:focus,
.modal-form input[type="text"]:focus {
  border-color: rgba(0, 0, 0, 0.3);

  outline: none;
}

.modal-form input::-webkit-input-placeholder,
.modal-form textarea::-webkit-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;

  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-form input::-moz-placeholder,
.modal-form textarea::-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;

  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-form input:-moz-placeholder,
.modal-form textarea:-moz-placeholder {
  font-family: "PT Sans", Arial, sans-serif;

  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-form input:-ms-input-placeholder,
.modal-form textarea:-ms-input-placeholder {
  font-family: "PT Sans", Arial, sans-serif;

  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.modal-form::after {
  content: "";
  
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;

  width: 100%;
  height: 112px;

  background-color: #f4f4f4;
}

.modal-form-button {
  z-index: 15;

  width: 460px;
  padding: 10px 20px;
  border: none;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 20px;
}

.breadcrumbs li {
  margin-right: 41px;
}

.breadcrumbs a {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.5);
}

a.current-breadcrumbs-link:hover,
a.current-breadcrumbs-link:focus {
  color: #000000;
}

.breadcrumbs li:not(:last-child) a::after {
  content: "";

  position: absolute;

  width: 8px;
  height: 12px;
  top: 2px;
  right: -23px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-main-title {
  padding-top: 30px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 29px;

  color: #32425c;

  background-color: #f2f6f8;
}

.catalog-content-container {
  display: flex;
  margin-top: 9px;
}

.filters {
  width: 220px;
  margin-right: 20px;
  padding-top: 11px;
}

.main-filter-title {
  margin: 0;
  margin-bottom: 11px;
  padding: 10px 19px;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filter-title {
  margin: 0;
  margin-bottom: 14px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-range-filter {
  position: relative;

  display: block;
  width: 220px;
  height: 80px;
  background-color: #f7f3ec;
}

.price-range-line {
  position: relative;
  top: 39px;
  left: 20px;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.price-range-line::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;

  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.price-toggle {
  position: absolute;
  z-index: 100;

  display: inline-block;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-radius: 50%;

  background-color: #ababab;
  box-shadow: 0 2px 0 0 #e0ddd8;
}

.price-toggle-left {
  top: 30px;
  left: 20px;
}

.price-toggle-right {
  top: 30px;
  right: 40px;
}

.price-toggle:hover,
.price-toggle:focus {
  outline: none;

  transform: scale(1.2);  
}

.price-field-block {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  margin-bottom: 42px;
}

.price-field {
  width: 95px;
  padding: 9px 5px;
  padding-bottom: 11px;
  border: none;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
}

.price-field-block::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 105px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}

.price-field-max {
  margin-left: auto;
}

.brands-filter,
.power-supply-filter {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
}

.brands-filter {
  margin-bottom: 20px;
}

.power-supply-filter {
  margin-bottom: 57px;
}

.brands-filter::before,
.power-supply-filter::before {
  content: "";

  position: absolute;
  top: -17px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.brands-filter label,
.power-supply-filter label {
  position: relative;

  margin-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  user-select: none;
}

.brands-filter label::before,
.power-supply-filter label::before {
  content: "";

  position: absolute;

  top: -2px;
  left: 0px;

  background-repeat: no-repeat;
  background-position: center;
}

.brands-filter label::before {
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.power-supply-filter label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
}

input[type="checkbox"] + label:hover::before,
input[type="checkbox"] + label:focus::before {
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-hover.svg");
}

input[type="checkbox"]:focus + label::before {
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-hover.svg");
}

input[type="checkbox"]:checked + label:hover::before,
input[type="checkbox"]:checked + label:focus::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.svg");
}

input[type="checkbox"]:focus:checked + label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-hover.svg");
}

input[type="radio"] + label:hover::before,
input[type="radio"] + label:focus::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-hover.svg");
}

input[type="radio"]:focus + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off-hover.svg");
}

input[type="radio"]:checked + label:hover::before,
input[type="radio"]:checked + label:focus::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on-hover.svg");
}

input[type="radio"]:focus:checked + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on-hover.svg");
}

input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  opacity: 0.4;
}

input[type="checkbox"]:disabled + label::before,
input[type="radio"]:disabled + label::before {
  opacity: 0.3;
}

input[type="checkbox"]:checked:disabled + label::before,
input[type="radio"]:checked:disabled + label::before {
  opacity: 0.3;
}

input[type="checkbox"]:disabled + label::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

input[type="checkbox"]:checked:disabled + label::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

input[type="radio"]:disabled + label::before {
  background-image: url("../img/radio-off-hover.svg");
}

input[type="radio"]:checked:disabled + label::before {
  background-image: url("../img/radio-on-hover.svg");
}


.submit-button {
  display: inline-block;
  padding: 10px 39px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
}

.sorting {
  display: flex;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  padding-left: 19px;

  background-color: #f7f3ec;
}

.sorting-title {
  margin: 0;
  margin-right: 140px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  margin-right: 52px;
}

.sorting-item:not(:last-child) {
  margin-right: 65px;
}

.sorting-link {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 1);
  text-decoration-style: solid;
}

.sorting-link-active,
.sorting-link-active:hover,
.sorting-link-active:focus {
  color: #ee3643;
  text-decoration: none;
}

.sorting-toggle {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 4px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.sorting-min-toggle {
  margin-right: 21px;
  background-image: url("../img/icon-up-dir.svg");
}

.sorting-max-toggle {
  background-image: url("../img/icon-down-dir.svg");
}

.sorting-min-toggle:hover,
.sorting-min-toggle:focus {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.sorting-max-toggle:hover,
.sorting-max-toggle:focus {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.sorting-min-toggle.active-toggle {
  background-image: url("../img/icon-up-dir-active.svg");
}

.sorting-max-toggle.active-toggle {
  background-image: url("../img/icon-down-dir-active.svg");
}

.pagination-list {
  display: flex;
  margin-top: 32px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  min-width: 38px;
  height: 38px;
  padding: 10px 0;

  border: 1px solid #e5e5e5;
  border-radius: 2px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.pagination-item:last-child a {
  padding-left: 32px;
  padding-right: 30px;

  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: #bdc6ca;
}

.pagination-item a:active {
  border-color: #ee3643;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  border: none;

  color: #ffffff;

  background-color: #ee3643;
}

.puncher-info-wrapper {
  background-color: #f2f6f8;
}

.puncher-info {
  padding-top: 65px;
  padding-bottom: 68px;
}

.puncher-info-title {
  margin-bottom: 26px;

  color: #32425c;
}

.modal-confirm {
  position: fixed;
  top: 411px;
  left: 50%;
  z-index: 100;

  display: none;
  width: 620px;
  height: 282px;
  margin-left: -310px;
  padding-top: 65px;  
  padding-bottom: 37px;
  border-top: 7px solid #ff5257;

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-confirm span {
  position: relative;

  display: block;
  margin-bottom: 68px;
  padding-left: 180px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.modal-confirm span::before {
  content: "";
  
  position: absolute;
  top: -17px;
  left: 81px;

  width: 66px;
  height: 66px;

  background-image: url("../img/cart-confirm.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-buttons-block {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 620px;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-buttons-block .button {
  display: inline-block;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 9px;

  text-align: center;
}

.modal-order-button {
  margin-right: 20px;
}

.modal-buttons-block .continue-shopping-button {
  padding-top: 8px;
  padding-bottom: 6px;
  border: 3px solid #ffffff;
  border-radius: 2px;

  color: #000000;

  background-color: #ffffff;

  outline: none;
}

.continue-shopping-button:hover,
.continue-shopping-button:focus {
  border-color: #32425c;

  background-color: #ffffff;
}

.continue-shopping-button:active {
  opacity: 0.3;
  background-color: #ffffff;
}
